.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  margin-bottom: 4rem;
}

section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.inputs,
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs > input:first-child {
  margin-bottom: 4rem;
}

.buttons > button:first-child {
  margin-bottom: 4rem;
}

input {
  border: none;
  background-color: #121314;
  color: whitesmoke;
  padding: 0.75rem;
  border-radius: 5px;
  outline: none;
}

button {
  border: none;
  text-decoration: none;
  background-color: whitesmoke;
  color: #121314;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.75rem;
  border-radius: 10px;
}
